{% extends 'base/base.html' %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <!-- <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="{{ form.nombre.name }}">
                    {{ form.nombre.label }}
                </label>
                {{ form.nombre }}
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="{{ form.direccion.name }}">
                    {{ form.direccion.label }}
                </label>
                {{ form.direccion }}
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="{{ form.telefono1.name }}">
                    {{ form.telefono1.label }}
                </label>
                {{ form.telefono1 }}
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="{{ form.telefono2.name }}">
                    {{ form.telefono2.label }}
                </label>
                {{ form.telefono2 }}
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label for="{{ form.email.name }}">
                    {{ form.email.label }}
                </label>
                {{ form.email }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ form.icono.name }}">
                    {{ form.icono.label }}
                </label>
                {{ form.icono }}
            </div>
        </div>
    </div> -->
    <button type="submit">Guardar</button>
</form>
{% endblock %}