{% extends 'base/base.html' %}

{% load static %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div class="table-title">
        <div class="title">
            <b>Lista de médicos</b>
        </div>
        <div class="btn">
            <a href="{% url 'medicos:add_medico' %}" class="btn btn-success"><span>Nuevo</span></a>
        </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Tipo de documento</th>
            <th>No Documento</th>
            <th>Especialidad</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if medicos %}
            {% for medico in medicos %}
            <tr>
                <td>{{ medico.id }}</td>
                <td>{{ medico.nombres }}</td>
                <td>{{ medico.apellidos }}</td>
                <td>{{ medico.tipo_documento }}</td>
                <td>{{ medico.num_documento }}</td>
                <td>{{ medico.especialidad }}</td>
                <td>{{ medico.email }}</td>
                <td>{{ medico.celular }}</td>
                
                <td>
                    <a class="btn btn-primary" href="{% url 'medicos:edit_medico' medico.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'medicos:delete_medico' medico.id %}">Eliminar</a>
                </td>

            </tr>
            {% endfor %}
        {% else %}
            <h3>There is no data in DB</h3>
        {% endif %}
    </tbody>
</table>
{% endblock %}